---
layout: routine
---
<!doctype html>
<html lang="en">
    {% include head.html %}
<body>
  <div class="container-fluid h-100"> 
    {% include header.html %}     
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col col-12 d-flex align-items-center justify-content-center pb-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">

            
                <div class="carousel-item active" data-duration="{{page.countdown}}" data-order="0">
                    <div class="count-down d-flex align-items-center justify-content-center">
                    <p>Countdown</p>
                    </div>
                    <button class="btn btn-primary" id="btn__start"><i class="fas fa-play"></i></button>
                </div>
    
                
                {% assign currentIndex = 1 %}
                {% assign exerciseIndex = 1 %}
                {% assign exerciseOrder = 1 %}
                {% assign currentHumanReadableIndex = 1 %}
                {% for exercise in page.exercises %}
                    <div class="carousel-item"  data-reps="{{exercise.reps}}"  data-duration="{{exercise.duration}}" data-order="{{exerciseOrder}}">
                            {% if exercise.image_path or exercise.image_url %}
                                <div class="img-wrapper">
                                {% if exercise.image_path %}
                                    <img src="{{site.baseurl}}/assets/images{{page.id}}/{{exercise.image_path}}" class="d-block w-100" alt="...">
                                {% endif %}

                                {% if exercise.image_url %}
                                    <img src="{{exercise.image_url}}" />
                                {% endif %}
                            {% else %}   
                                <div class="img-wrapper has-no-image">
                                <h1>{{exercise.name}}</h1> 
                                <p>{{exercise.notes}}</p>
                            {% endif %}
                            <span class="routine-progress">{{ currentIndex }}/{{ page.exercises.size }}</p>
                        </div>
                        {% if exercise.image_path or exercise.image_url %}
                            <div class="description">
                                <h3>{{exercise.name}}</h3>
                                <p>{{exercise.notes}}</p>
                            </div>
                        {% endif %}
                    </div>

                    {% if exercise.mirror %}
                        <div class="carousel-item mirror"  data-reps="{{exercise.reps}}" data-duration="{{exercise.duration}}" data-order="{{exerciseOrder | plus: 1}}">
                                {% if exercise.image_path or exercise.image_url %}
                                    <div class="img-wrapper">
                                    {% if exercise.image_path %}
                                        <img src="{{site.baseurl}}/assets/images{{page.id}}/{{exercise.image_path}}" class="d-block w-100" alt="...">
                                    {% endif %}

                                    {% if exercise.image_url %}
                                        <img src="{{exercise.image_url}}" />
                                    {% endif %}
                                {% else %}
                                    <div class="img-wrapper has-no-image">     
                                    <h1>{{exercise.name}}</h1> 
                                    <p>{{exercise.notes}}</p>
                                {% endif %}
                                <span class="routine-progress">{{ currentIndex }}/{{ page.exercises.size }}</p>
                            </div>
                            {% if exercise.image_path or exercise.image_url %}
                                <div class="description">
                                    <h3>{{exercise.name}}</h3>
                                    <p>{{exercise.notes}}</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="carousel-item" data-duration="{{page.rest}}" data-order="{{exerciseOrder | plus: 1}}">
                        <div class="rest d-flex align-items-center justify-content-center">
                          {% if currentHumanReadableIndex == page.exercises.size %}
                            <p>End</p>
                          {% else %}
                            <p>Rest</p>
                          {% endif %}
                         
                        </div>
                    </div>

                    {% assign exerciseOrder = exerciseOrder | plus: 3 %}
                    {% assign currentIndex = currentIndex | plus: 1 %}
                {% endfor %}

                   


                </div>
                <span class="countdown__seconds"></span>
                <button class="btn btn-secondary" id="btn__restart"><i class="fas fa-sync-alt"></i></button>
        </div>
        </div>
        <a id="skip-exercise" class="text-secondary" href="Javascript:void(0)">Next Exercise</a>
    </div>
  </div>
  <audio id="audio" src="{{site.baseurl}}/assets/audio/gong.wav" autoPlay muted />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/assets/js/timer.js"></script>
  <script src="https://kit.fontawesome.com/685eaa23dd.js" crossorigin="anonymous"></script>
</body>
</html>